! xterm settings
xterm*background: black
xterm*foreground: grey90

XTerm*font: xft:DejaVuSansMono:bold:size=11

XTerm.scaleHeight: 1.01

! urxvt settings
URxvt.scrollBar: false

URxvt*background: rgb:1a/1a/1a
URxvt*foreground: rgb:bc/bc/bc

URxvt.font: xft:DejaVuSansMono:bold:size=11
URxvt.scaleHeight: 1.01
